<div class="draw-container">
    <div class="row">
        <div class="col-xl-12">
            <div class="btn-ctn">
                <div class="btn-group btn-group-lg tools-panel" role="group" aria-label="Large button group">
                    <div class="dropdown">
                        <button (click)="toggleMenu()" class="btn btn-secondary" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div [ngClass]="{'visible':props.menu}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <span class="selected-item-ctn" *ngIf="selected">
                        <button title="bring to front" type="button" class="btn btn-secondary" (click)="bringToFront()">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                        <button title="bring to back" type="button" class="btn btn-secondary" (click)="sendToBack()">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                        <button title="clone object" type="button" class="btn btn-secondary" (click)="clone()">
                            <i class="fa fa-clone"></i>
                        </button>
                        <button title="delete item" type="button" class="btn btn-secondary" (click)="removeSelected()">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="draw-panel">
            <div class="left-panel">
                <button type="button" class="btn btn-secondary" title="add Rect" (click)="addFigure('rectangle')">
                    <i class="fa fa-square"></i>
                </button>
                <button type="button" class="btn btn-secondary" title="add Circle" (click)="addFigure('circle')">
                    <i class="fa fa-circle"></i>
                </button>
                <button type="button" class="btn btn-secondary" title="add Triangle" (click)="addFigure('triangle')">
                    <i class="fa fa-play"></i>
                </button>
                <button type="button" class="btn btn-secondary" title="add Text" (click)="addText()">
                    <i class="fa fa-font"></i>
                </button>
                <button type="button" class="btn btn-secondary" title="add Free Draw" (click)="addFreeDraw()">
                    <i class="fa fa-paint-brush"></i>
                </button>
            </div>
            <div class="canvas-panel">
                <canvas id="canvas"></canvas>
            </div>
            <div class="right-panel">
                <div *ngIf="!selected">
                    <div>
                        <div class="custom-item" *ngIf="!props.canvasImage">
                            <div class="custom-item-title">Background Color</div>
                            <div class="custom-item-body">
                                <color-sketch color="props.canvasFill" (onChangeComplete)="setCanvasFill($event)"></color-sketch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>